body {
font-family: "Open Sans";
}


#wrapper{
background-image: url(../Images/paris-415476.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 620px;
text-align: center;
padding-top: 4em;

}

#wrapper h1{
font-size: 55px;
}

#wrapper h2{
font-size: 24px;
margin-bottom: 1em;
}

.change-bouton{
	background-color: #FEAC51 !important;
}

#footer{
	background-color: black; 
	color: #E3F8FF;
	font-size: 24px;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

#footer a{
	color: #E3F8FF;
}

#footer a:hover{
	color: #58D3F7;
}



#newsletter{
background-color: #E3F8FF;
color: black;
font-size: 24px;
text-align: center;
padding-top: 4em;
padding-bottom: 4em;
}


#concept{
padding-top: 4em;
padding-bottom: 4em;
font-size: 24px;
}


#concepttitle {
	margin-bottom: 2em;
	font-size: 24px;
}



.navbar-transparent{
	background-color: rgba(0, 0, 0, 0.7);
}

/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}
  
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #E3F8FF;
  line-height: 20px;
  font-size: 18px;
}
  
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#pitch {
padding-left: 3em;
padding-right: 3em;
padding-top: 3em;
padding-bottom: 3em;
font-size: 20px;
background-color: #E3F8FF;
}

#pitch p {
margin-bottom: 4em;
}

#beta {
padding-left: 3em;
padding-right: 3em;
padding-top: 2em;
padding-bottom: 2em;
font-size: 24px;
}

#formulaire{
padding-top: 3em;
}


.vertical-spacer {
	height: 8em;
}
